<h3 class="text-center  ms-3 ps-2 pt-2">Liste des professeurs du Departement {{nomDepart}}</h3>
<div class="container offset-md-4 col-md-4 pt-3">
    <div *ngFor="let i of Professeur | paginate:{itemsPerPage:tableSize,currentPage:page,totalItems:count};let a=index">
<div class="card text-white bg-dark mb-3 me-3 " style="width: 18rem;">
    <div class="card-body ">
      <h5 class="card-title">Identifiant:{{i.idProf}}</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Nom:{{i.nomP}}</li>
      <li class="list-group-item">Prenom:{{i.prenomP}}</li>
      <li class="list-group-item">Matiere:{{i.matiere}} </li>
    </ul>
  </div>
  </div>
  <div>
    <pagination-controls previousLabel="Precedent" nextLabel="Suivant" (pageChange)="onTableDataChange($event)"></pagination-controls>
</div>
 
